.info-box {
    background: #924d4d98;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(150, 15, 15, 0.354);
    text-align: center;
    margin: 2;
    width: 400%;
    max-width: 900px;
    transition: box-shadow 0.4s ease;
}


.info-box:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.742);

}

.info-box p {
    color: rgb(255, 255, 255);
    font-family: 'Poppins' sans-serif;
    font-size: 3vh;
}
